@import '../utils/variables.scss';

.button {
    background-color: $french-violet;
    color: white;
    border-radius: $button-border-radius;
    padding: $button-padding;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    letter-spacing: $button-letter-spacing;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: darken($french-violet, 10%);
    }

    &:active {
        background-color: darken($french-violet, 20%);
    }
}

.button--secondary {
    background-color: $heliotrope;
    color: white;
    border-radius: $button-border-radius;
    padding: $button-padding;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    letter-spacing: $button-letter-spacing;
    transition: background-color 0.2s ease;

    &:hover {
        background-color: darken($amethyst, 10%);
    }

    &:active {
        background-color: darken($amethyst, 20%);
    }
}